*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    h1{
        display: none;

    }
    .watchface{
        text-transform: uppercase;


        display: grid;
        grid-template-columns:100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-template-rows:100px 100px 100px 100px 100px 100px 100px 100px; 
        align-items: center;
        justify-items: center;
        
        span{
            padding: 5px;
        }
        
    }
}