*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    h1{
        display: none;

    }
    .watchface{
        text-transform: uppercase;


        display: grid;
        grid-template-columns:repeat(13, auto) ;
        grid-template-rows:repeat(8, auto) ; 
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        
        span{
            padding: 5px;
        }
        .glow{
            background: green;
        }
        
        
    }
    
}